<h1>Series</h1>
<div id='series_div'>
  <table id='series-table'>
    <tr>
      <th>Cover</th>
      <th>Series</th>
      <th>Status</th>
      <th>Description</th>
      <th>ID</th>
      <th>Rating</th>
      <th>Levenshtein</th>
    </tr>
    {{#each series}}
      <tr>
        <td><img src='{{cover}}'>
        </td>
        <td>{{title}}</td>
        <td>{{status}}</td>
        <td>{{{description}}}</td>
        <td>{{_id}}</td>
        <td>{{rating}}</td>
        <td>{{levenshtein}}</td>
      </tr>
    {{/each}}
  </table>
</div>
<script src="/javascripts/series.js"></script>